<img src="{{ absolute_url(asset('uploads/images/web/heademail.png')) }}" style="width: 100%;">

<div class="head" style="text-align: center;">
    <h2>Mensaje</h2>
</div>

<div class="head" >
    <h3>Asunto: {{asunto}}</h2>
</div>

<p>
    {{text|raw }}
</p>

<br />

<img src="{{ absolute_url(asset('uploads/images/web/footeremail.png')) }}" style="width: 100%;">