{% extends "AppBundle::layout_backend.html.twig" %}
    


{% block headercontent %}
Envio de Correos
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block content %}
    
 <div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">Correo</h3>
    <div class="box-tools">        
       
        
        
    </div><!-- /.box-tools -->
  </div><!-- /.box-header -->
  <div class="box-body">
    
    {{ form(form) }}
          
    
    
  </div><!-- /.box-body -->
  <div class="box-footer">    
        
  </div><!-- box-footer -->
</div><!-- /.box -->
    
{% endblock %}

{% block javascripts %}

{% endblock  %}